::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #cbcbcb;
	border-radius: 10px;
	border: solid #cbcbcb;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
	border: solid #909090;
}

/* Navbar Start */
.nav-item {
	cursor: pointer;
}

.nav-link.active {
	font-weight: bold;
	border-bottom: 2px solid #0d6efd;
}

@media screen and (min-width: 992px) {
	.dropdown-hover:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}

	.nav-link.active {
		border-bottom: 2px solid #0d6efd;
	}

	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 80px !important;
	}
}

.show,
.showing,
.hidding {
	transition: 0.3s ease-in-out;
}

.offcanvas-start {
	max-width: 80% !important;
}

.dropdown-hover .dropdown-menu {
	display: none;
}

.dropdown-hover:hover .dropdown-menu {
	display: block;
}

.profile {
	border-radius: 28px;
}

/* Navbar End */

/* Modal Form Start */
.toggle-eye {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.position-relative {
	position: relative;
}

.invalid-feedback {
	position: absolute;
	top: 53px;
	left: 7px;
	font-size: 0.7em;
	color: red;
}

.form-control.is-invalid {
	background-image: none;
}

.bi-google {
	background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.bg-icon {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	justify-content: center;
}

.dropdown-menu {
	border-radius: 10px;
}

.dropdown-hover .dropdown-menu {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.dropdown-hover:hover .dropdown-menu {
	display: block;
	opacity: 1;
}
/* Modal Form End */

/* Banner Carousel Start */

.carousel {
	margin-bottom: 4rem;
}

.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

.carousel-item {
	height: 32rem;
}

.bd-placeholder-img {
	object-fit: cover;
	object-position: center;
}

@media (min-width: 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
}

/* Banner Carousel End */

/* Service Start*/

.feature-icon {
	width: 4rem;
	height: 4rem;
	border-radius: 0.75rem;
}

.icon-square {
	width: 3rem;
	height: 3rem;
	border-radius: 0.75rem;
}

.text-shadow-1 {
	text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
	text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
	text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.feature-icon-small {
	width: 3rem;
	height: 3rem;
}

/* Service End*/

/* Review Card Start */
.review {
	min-height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	margin-bottom: 50px;
}

.slider-container {
	max-width: 1400px;
	width: 100%;
	padding: 40px 0;
}

.slider-content {
	overflow: hidden;
	margin: 0 40px;
}

.card-review {
	border-radius: 0px 25px 0px 25px;
	background-color: #fff;
}

.image-content,
.card-content {
	padding: 10px 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #4070f4;
	border-radius: 0px 25px 0px 25px;
}

.card-image {
	position: relative;
	height: 100px;
	width: 100px;
	background-color: #fff;
	border-radius: 50%;
}

.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.name {
	font-size: 18px;
	font-weight: 600;
	color: #333;
}

.description {
	font-size: 14px;
	color: #707070;
	text-align: center;
	overflow-y: scroll;
	max-width: 250px;
	margin: 15px 0;
}

.swiper-navBtn {
	color: #6e93f7;
	transition: color 0.3s ease;
}

.swiper-navBtn:hover {
	color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
	font-size: 40px;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	left: 0;
}

.swiper-pagination.bullet {
	background-color: #6e93f7;
	opacity: 1;
}

.swiper-pagination.bullet-active {
	background-color: #4070f4;
}

.card-content {
	height: 200px;
}

.star {
	display: flex;
	gap: 5px;
}

@media screen and (max-width: 768px) {
	.slider-content {
		margin: 0 10px;
	}

	.swiper-navBtn {
		display: none;
	}
}

/* Review Card End */

/* Mobile Wifi Start */
@media screen and (min-width: 768px) {
	.mifi {
		flex: 0 0 auto;
		width: 50%;
	}
}

/* Mobile Wifi End */
